.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
}